{% extends 'article/base.html' %}

{% block title %}{{article.title}}{% endblock %}
{% block body %}
  <header class="intro-header" style="background-image: url('../../static/Articles/img/contact-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{article.title}}</h1>
                        <span class="meta">Posted by <a href="{% url 'articles:about' %}">Utkucan Bıyıklı</a> on {{article.date}}</span>
                    </div>
                </div>
            </div>
        </div>
</header>

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                         {% autoescape on %}

<p class="content-markdown">{{article.content|safe}}</p>
                        {% endautoescape %}
                          </div>
            </div>
        </div>
<hr>
               <p style="margin-left:30%;">
                   Bu makale {{article.like}} kere beğenilmiş.Beğenmek için kalbe tıkla :).<a href="{% url 'articles:like' article.id %}"><span class="glyphicon btn-glyphicon glyphicon-thumbs-up img-circle text-primary"></span></a>

               </p>
<hr>
<div class="row" style="margin-left:30%;">
{% for comment in comments   %}


                    <h3><i class="glyphicon glyphicon-pencil"></i>{{comment.name}}:
                    <small>{{comment.date}}</small>
                </h3>
                <p>{{comment.comment}}</p>
    {% if user.is_authenticated %}
        {% if not comment.publish %}
    <p><i class="glyphicon glyphicon-thumbs-up"><a href="{% url 'articles:publish' comment.id %}">Publish</a></i> </p>
        {% else %}
    <p><i class="glyphicon glyphicon-thumbs-down"><a href="{% url 'articles:publish' comment.id %}">Remove</a></i> </p>
        {% endif %}

        {% endif %}
    {% empty %}
    <p>Henüz bir yorum atılmamış.</p>
{% endfor %}
<div class="container">
<div class="col-md-5">
    <div class="form-area">
        <br style="clear:both">
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">{% csrf_token %}

<h3 style="margin-bottom: 25px; text-align: center;">Yorum At </h3>
{{ form.as_p }}

                                                        <p class="small">{{error}}</p>

                        <div class="form-group">
                             <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="6Lf_Th0UAAAAABMe0C83NGDVRpID5RqVwY41_swB"></div>
                            <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">Yolla</button>
                            </div>
                        </div>

                    </form>
        </div>
    </div>
</div>
</div>
 <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://www.twitter.com/utkucanbykl">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/utkucanbykl">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.github.com/utkucanbykl">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Utkucan Bıyıklı 2016</p>
                </div>
            </div>
        </div>
    </footer>


{% endblock %}
