{% extends 'article/base.html' %}

{% block title %}{{article.title}}{% endblock %}
{% block body %}
  <header class="intro-header" style="background-image: url('../../static/Articles/img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{article.title}}</h1>
                        <span class="meta">Posted by <a href="#">Utkucan Bıyıklı</a> on August 24, 2014</span>
                    </div>
                </div>
            </div>
        </div>
</header>

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<p>{{article.content}}</p>
                </div>
            </div>
        </div>
<hr>
<a class="btn btn-default" href="{% url 'articles:add_comment' id=article.id %}">Add Comment</a>

{% for comment in article.comments.all   %}
        {% if comment.publish %}

    <div class="panel-danger">
        <div class="panel-heading">{{ comment.name }}</div>
        <div class="panel-body">
        <strong>{{ comment.comment }}</strong>
        <small>{{ comment.date }}</small>
        {% endif %}
        </div>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}



 <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://www.twitter.com/utkucanbykl">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/utkucanbykl">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.github.com/utkucanbykl">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2016</p>
                </div>
            </div>
        </div>
    </footer>


{% endblock %}
