{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ post.title }}{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/loader.css' %}">
{% endblock %}
{% block content %}


       <!-- Page Header -->
    {% if post.image %}
        <header class="masthead" style="background-image: url('{{ MEDIA_ROOT }}{{ post.image.url }}')">
    {% else %}
    <header class="masthead" style="background-image: url({% static 'img/post-bg.jpg'%})">
        {% endif %}
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ post.title }}</h1>
              <h2 class="subheading">{{ post.body }}</h2>
              <span class="meta">Posted by
                <a href="#">{{ post.user }}</a>
                on {{ post.created_date }}<br>
                  <p><span id="post-like"></span> kere beğenilmiş.<a id="like"><i class="fa fa-thumbs-up">
                  </i></a>
                     <a id="disslike" > <i class="fa fa-thumbs-down"></i></a>
              </span></p>
            </div>
          </div>
        </div>
      </div>
    </header>
<!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
           {{ post.content }}
            </div>
        </div>
      </div>
    </article>
    <hr>
    <div class="container col-md-10">
    <div id="commentBody">
        <div class="loader"></div>

    </div>

    </div>
    <div class="container col-md-10">
    <form action="{% url 'comment:send_comment' post.slug %}" method="post">{% csrf_token %}
            {{ form.as_p }}
    <button type="submit" id="comment-btn" class="btn">Gönder</button>
    </form>
    </div>

{% endblock %}
 {% block script %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script>

               $(document).ready(function () {
            $.ajax({
                    type: "POST",
                    url: '{% url 'post:lcount' %}',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        post: '{{ post.slug }}'
                    },
                    success: function (data) {
                        var json = JSON.parse(data);

                        $("#post-like").text(json.like);
                        $("#post-like").show();
                    }
            });

        });


        $(document).ready(function () {
            $("#like").on("click" ,function () {

           $.ajax({
               type: "POST",
               url: "{% url 'post:like' post.slug %}",
               data: {
                   csrfmiddlewaretoken: '{{ csrf_token }}',

               },
               success: function (data) {
                var json = JSON.parse(data);
                alert(json.text);
           }
        });
        });
        });

        $(document).ready(function () {
            setInterval(function () {
            $.ajax({
                   type: "POST",
                    url: "{% url 'comment:post_comment' %}",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        post: '{{ post.slug }}'
                    },
                    success: function (data) {
                        var json = JSON.parse(data);
                        var result_html = "";
                        $.each(json, function (i) {

                            result_html += "<div><h1>"+ json[i].comment + "</h1></div>"
                        });
                        $("#commentBody").html(result_html);
                        $("#commentBody").show();
                        $(".loader").display = false;
                    }
            });
            },5000);


        });




    </script>
{% endblock %}