{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Utkucan Bıyıklı</h1>
              <span class="subheading">Yazılım ve diğer uğraşlar</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in posts %}
          <div class="post-preview">
            <a href="{% url 'post:detail' post.slug %}">
              <h2 class="post-title">
                {{ post.title }}
              </h2>
              <h3 class="post-subtitle">
                  {{ post.content }}
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">{{ post.user }}</a>
              on {{ post.created_date }}</p>
          </div>
          <hr>
            {% endfor %}
                   <!-- Pager -->
          <div class="clearfix">

        {% if posts.has_other_pages %}
  <ul class="pagination">
    {% if users.has_previous %}
      <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in posts.paginator.page_range %}
      {% if posts.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if posts.has_next %}
      <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
                    </div>




        </div>
      </div>
    </div>

    <hr>



{% endblock %}
