{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


       <!-- Page Header -->
    {% if post.image %}
        <header class="masthead" style="background-image: url('{{ post.image.url }}')">
    {% else %}
    <header class="masthead" style="background-image: url({% static 'img/post-bg.jpg'%})">
        {% endif %}
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ post.title }}</h1>
              <h2 class="subheading">{{ post.body }}</h2>
              <span class="meta">Posted by
                <a href="#">{{ post.user }}</a>
                on {{ post.created_date }}<br>
                  <p>{{ post.like }} kere beğenilmiş.<a href="{% url 'post:like' post.slug %}"><i class="fa fa-thumbs-up">
                  </i></a>
                     <a href="{% url 'post:dislike' post.slug %}"> <i class="fa fa-thumbs-down"></i></a>
              </span></p>
            </div>
          </div>
        </div>
      </div>
    </header>
<!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
           {{ post.content }}
            </div>
        </div>
      </div>
    </article>
    <hr>
    <div class="container col-md-10">
    <div id="commentBody">Yorumlar Yükeniyor</div>

    </div>
    <div class="container col-md-10">
    <form action="{% url 'comment:send_comment' post.slug %}" method="post">{% csrf_token %}
            {{ form.as_p }}
    <button type="submit" id="comment-btn" class="btn">Gönder</button>
    </form>
    </div>
    <script>

        $(document).ready(function () {
            setInterval(function () {
            $.ajax({
                   type: "POST",
                    url: "{% url 'comment:post_comment' %}",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        post: '{{ post.slug }}'
                    },
                    success: function (data) {
                        var json = JSON.parse(data);
                        var result_html = "";
                        $.each(json, function (i) {

                            result_html += "<div><h1>"+ json[i].comment + "</h1></div>"
                            console.log(json[i].comment)
                        });
                        console.log(result_html)
                        $("#commentBody").html(result_html);
                        $("#commentBody").show();
                    }
            });
            },5000);


        });

    </script>

{% endblock %}